.love{
	border-radius: 25px;
    width: 100%;
	min-width: 500px;
}

#post{
    background-color: rgb(226, 228, 226);
	width: 80%;
    border-left: 20px solid;
    border-color: rgb(88, 143, 91);
	text-align: center;
	border-radius: 20px;
	font-family: 'Courier New', monospace;

    /* border :darkorange(226, 223, 223); */
}

#home_box{
    width: 80%;
    /* border-left: 20px solid; */
    /* border-color: rgb(88, 143, 91); */
    border :darkorange(226, 223, 223);
	background-color: rgb(255, 255, 255);
	border-radius: 40px;
	text-align: center;
	font-family: 'Courier New', monospace;

	position:relative;
	bottom:50px;
	left:50px;
	/* max-width: 700px; */
	min-width: 500px;
}

.home_box2{
    width: 80%;
    /* border-left: 20px solid; */
    /* border-color: rgb(88, 143, 91); */
    border :darkorange(226, 223, 223);
	background-color: rgb(255, 255, 255);
	border-radius: 40px;
	text-align: center;
	font-family: 'Courier New', monospace;
	position:relative;
	bottom:60px;
	left:300px;
	/* max-width: 700px; */
	min-width: 700px;
}

.home_box3{
    width: 70%;
    /* border-down: 20px solid; */
    border-color: rgb(88, 143, 91);
	background-color: rgb(255, 255, 255);
	border-radius: 40px;
	text-align: center;
	font-family: 'Courier New', monospace;
	position:relative;
	bottom:60px;
	left:200px;
	max-width: 900px;
	min-width: 600px;
}


.main-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container{
	width: 80%;
	display: flex;
	flex-direction: column;
}

.box{
	width: 50%;
}

body{
    background-color: rgb(225, 241, 225);
}

h2{
	font-family: 'Courier New', monospace;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 3px 3px 3px #ababab;
}
