#post{
    background-color: rgb(226, 228, 226);
    width: 1000px;
    height: 300px;
    border-left: 20px solid;
    border-color: rgb(88, 143, 91);
    /* border :darkorange(226, 223, 223); */
}

body{
    background-color: rgb(253, 251, 251);
}
