{% extends 'base.html' %}

{% block content %}


<h1> About </h1>
    <center>
        <p>
            <br>
            <a>
                This web application has been created as a final project for "CS50 Introduction to Computer Science"  
                from Harvard University. But I gonna use it as my personal blog to spread the idea of self-education.
            <br>
            <br>
                All the courses I'm posting here are freeavailable, so anyone can get acces to them.
            <br>
            </a>

        </p>
    </center>


{% endblock  %}