<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Mogra&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Dekko&family=Mogra&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    
    <title>Self-Taught programming</title>
  </head>
  <body>
  <div class="main-container">
  
        <ul>
            <li><a href={% url 'about' %}>About</a></li>
            <li><a href={% url 'sources' %}>Programmes/Objects</a></li>
            <li><a href={% url 'articles' %}>Articles</a></li>
            <li><a href={% url 'home' %}>Home</a></li>
            {% comment %} <li><a>Self-tought programming</a></li> {% endcomment %}
            <a id="main_name" href={% url 'home' %}>Self-tought programming</a>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

  </body>
</html>
